
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <a href="#">
        PROGRAMA1
       VERSION 11 x roberto
    </a>
    <div>
        <font color="red">dentro de testing</font>
        <font color="red">VERSION 11 dentro de testing clase 2</font>

    </div>
</body>
</html>
