
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    hhhhVERSION 2
    <div> 
        <font color="red">ROJO</font>
    </div>
</body>
</html>
